/*Start Game*/

.start_game {
    display: flex;
    height: 100vh;
}

.start_game > h1 {
    margin : auto;
    font-size: 5em;
}

.start_game > h1 > a {
    list-style-type: none;
    color: white;
}

    /*Audio Control*/
    .panel-heading {
        position : fixed;
        top: 0;
        right: 0;
    }

    .glyphicon-volume-up {
        color: white;
        font-size: 4em;
        margin : .5em;
    }

    .glyphicon-volume-off {
        color: white;
        font-size: 4em;
    }


/*Body background and font family for entire page*/

body {
    font-family: 'Audiowide', cursive;
    background: url('assets/background.gif') no-repeat fixed center;
}


/*Entire game area div*/

#game_area {
    height: 78vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}


/*Play field area including tile grid*/

#game_area > .play_field {
    margin: 1vmin;
    border-radius: 30pt;
    background-color: black;
    opacity: .85;
    flex: 60%;
    display: flex;
    flex-flow: row wrap;
}


/*This gives the tile a spinning animation*/

@keyframes spintile {
    0% { transform: rotate(0deg); }
    100%   { transform: rotate(360deg); }
}


#game_area > .play_field > .tile {
    width: 6vw;
    height: 8vh;
    position: relative;
    #background: url('assets/saturn.png') no-repeat;
    margin: auto;
    animation: spintile 40s infinite linear;
}


/*Left field area and Score*/

#game_area > .left_field {
    margin: 4vmin;
    border-radius: 30pt;
    background-color: black;
    border: solid mediumpurple .5em;
    opacity: .8;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    flex: 20%;
}
    /*Progress Bar*/

    .progressbar {
        height: 50vh;
        width: 5vw;
        border: .5em solid mediumpurple;
        background-color: #00c5ff;
        border-radius: 30pt;
        margin: auto;
    }


/*Right field area and Level*/

#game_area > .right_field {
    margin: 4vmin;
    border-radius: 30pt;
    background-color: black;
    border: solid mediumpurple .5em;
    opacity: .8;
    font-size: 1.5vw;
    text-align: center;
    color: white;
    flex: 20%;
}

/*Level*/

    .level {
        color: #00c5ff;
        font-size: 8vw;
    }

/*Win Modal*/

    .win {
        position: fixed;
        top: 20%;
        left: 20%;
    }


/*Header and Footer including animation on the background*/

header, footer {
    display: block;
    margin: 2vmin;
    height: 8vh;
    border-radius: 30pt;
    font-size: 1.8vw;
    text-align: center;
    opacity: .8;
    background: linear-gradient(270deg, #9800ff, #00c5ff);
    background-size: 400% 400%;
    animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/*Fix for h1 margin*/

h1 {
    margin: 2vmin;
}


@media all and (max-width: 640px) {

    #game_area {
        flex-flow: column;
    }


    #game_area > .left_field, #game_area > .right_field, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}